<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-top-bar">
            <img class="logo-melie" src="./images/logo-mercado-liebre.svg" alt="">
            <form action="/" method="GET" class="search-bar-form">
                <input type="search" name="search" placeholder="Buscar productos, marcas" class="search-bar-input">
                <button type="submit" class="search-bar-button"><i class="fas fa-search"></i></button>          
            </form>

            <div class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </div>
        </div>
        
        <nav class="option-bar">
            <ul>
                <li><a href="Ofertas">Ofertas</a></li>
                <li><a href="TiendasOficiales">Tiendas Oficiales</a></li>
                <li><a href="Vender">Vender</a></li>
                <li><a href="Ayuda">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="./register">Crea tu cuenta <i class="fas fa-address-card"></i></a></li>
                <li><a href="./login">Ingresá <i class="fas fa-sign-out-alt"></i></a></li>
                <li><a href="Miscompras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <img class="banner" src= "./images/img-home-banner.jpg" alt="">
    <main>
        
        <section>
            <h2 id="title-section1">Basado en tu última compra</h2>
            <article>
                <figure>
                    <img src="./images/img-cafetera-moulinex.jpg" alt="">
                </figure>
                <div class="boxarticle">
                    <span class="logo-truck">
                        <i class="fas fa-truck"></i>
                    </span>
                    <div class="renglon"> 
                        <p class="precio">$6.770,00</p>
                        <p class="descuento">40% OFF</p>
                    </div> 
                </div>    
                <h3 class="product-detail">Cafetera Molinex</h3>
            </article>
           
            <article>
                <figure>
                    <img src="./images/img-macbook-pro-2019.jpg" alt="">
                </figure>
                <div class="boxarticle">
                    <span class="logo-truck">
                        <i class="fas fa-truck"></i>
                    </span>
                    <div class="renglon"> 
                        <p class="precio">$230.000,00</p>
                        <p class="descuento">20% OFF</p>
                    </div>       
                </div>   
                <h3 class="product-detail">MackBook Pro 2019</h3>
            </article>

            <article>
                <figure>
                    <img src="./images/img-samsung-galaxy-s10.jpg" alt="">
                </figure>
                <div class="boxarticle">
                     <span class="logo-truck">
                        <i class="fas fa-truck"></i>
                    </span>
                    <div class="renglon"> 
                        <p class="precio">$70.500,00</p>
                        <p class= "descuento">10% OFF</p>
                    </div>    
                </div>       
                <h3 class="product-detail">Samsung Galaxy S10</h3>
            </article>

            <article>
                <figure>
                    <img src="./images/img-tv-samsung-smart.jpg" alt="">
                </figure>    
                <div class="boxarticle">
                    <span class="logo-truck">
                        <i class="fas fa-truck"></i>
                    </span>
                    <div class="renglon">  
                        <p class="precio">$23.200,00</p>
                        <p class="descuento">5% OFF</p>
                    </div>     
                </div> 
                <h3 class="product-detail">SmartTv Samsung Galaxy 43'</h3>
            </article>

            </section>
            
        <section>
            <h2 id="title-section2">Ofertas</h2>
            <article>
                <figure>
                    <img src="./images/img-cafetera-moulinex.jpg" alt="">
                </figure>    
                <div class="boxarticle">
                    <span class="logo-truck">
                        <i class="fas fa-truck"></i>
                    </span>
                    <div class="renglon">
                        <p class="precio">$6.770,00</p>
                        <p class="descuento">40% OFF</p>
                    </div>   
                </div>     
                <h3 class="product-detail">Cafetera Molinex</h3>
            </article>

            <article>
                <figure>
                    <img src="./images/img-macbook-pro-2019.jpg" alt="">
                </figure>
                <div class="boxarticle">
                    <span class="logo-truck">
                        <i class="fas fa-truck"></i>
                    </span>
                    <div class="renglon">
                        <p class="precio">$230.000,00</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                </div>     
                <h3 class="product-detail">MackBook Pro 2019</h3>
            </article>

            <article>
                <figure>
                    <img src="./images/img-samsung-galaxy-s10.jpg" alt="">
                </figure>    
                <div class="boxarticle">
                    <span class="logo-truck">
                        <i class="fas fa-truck"></i>
                    </span>
                    <div class="renglon">
                        <p class="precio">$70.500,00</p>
                        <p class="descuento">10% OFF</p>
                    </div>
                </div>    
                <h3 class="product-detail">Samsung Galaxy S10</h3>
            </article>

        </section>
    </main>

    <footer class="footer-style">
        
            <section>
                <div class="footer-icon">
                    <i class="fas fa-money-check"></i>
                </div>
                <div>   
                    <h2>Paga con tarjeta o en efectivo </h2>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
                </div>
            </section>
            <section>
                <div class="footer-icon">
                    <i class="fas fa-gift"></i>
                </div>
                <div>    
                    <h2>Envío gratis desde $2.500 </h2>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>
                </div>
            </section>  
            <section>
                <div class="footer-icon">
                    <i class="fas fa-user-shield"></i>
                </div>   
                <div> 
                    <h2>Seguridad, de principio a fin </h2>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </div>
            </section>
            <div>
                <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L..</p>
            </div>
    </footer>

</body>
</html>