<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-top-bar">
            <img class="logo-melie" src="./images/logo-mercado-liebre.svg" alt="">
            <form action="/" method="GET" class="search-bar-form">
                <input type="search" name="search" placeholder="Buscar productos, marcas" class="search-bar-input">
                <button type="submit" class="search-bar-button"><i class="fas fa-search"></i></button>          
            </form>

            <div class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </div>
        </div>
        
        <nav class="option-bar">
            <ul>
                <li><a href="Ofertas">Ofertas</a></li>
                <li><a href="TiendasOficiales">Tiendas Oficiales</a></li>
                <li><a href="Vender">Vender</a></li>
                <li><a href="Ayuda">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="./register">Crea tu cuenta <i class="fas fa-address-card"></i></a></li>
                <li><a href="./login">Ingresá <i class="fas fa-sign-out-alt"></i></a></li>
                <li><a href="Miscompras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <img class="banner" src= "./images/img-home-banner.jpg" alt="">
    
    <main>
        <form action="/" method="POST" class="register-form">
            <fieldset class="register-field">
                <label for="name"></label>
                <input type="text" name="nombre" id="name" placeholder="Nombre de Usuario" required pattern="[a-z]{1,50}" title="usar solo minúsculas y sin espacios">
            </fieldset> 

            <fieldset class="register-field">
                <label for="password"></label>
                <input type="password" name="password" id="password" placeholder="Elegí tu contraseña" required pattern=".{6,}" title="elige 6 ó más caracteres">                  
            </fieldset> 
            
            <fieldset class="register-field">
                <button type="submit">Enviar</button>
            </fieldset>
        </form>     
    </main>


    <footer class="footer-style">
        
        <section>
            <div class="footer-icon">
                <i class="fas fa-money-check"></i>
            </div>
            <div>   
                <h2>Paga con tarjeta o en efectivo </h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
            </div>
        </section>
        <section>
            <div class="footer-icon">
                <i class="fas fa-gift"></i>
            </div>
            <div>    
                <h2>Envío gratis desde $2.500 </h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>
            </div>
        </section>  
        <section>
            <div class="footer-icon">
                <i class="fas fa-user-shield"></i>
            </div>   
            <div> 
                <h2>Seguridad, de principio a fin </h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </section>
        <div>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L..</p>
        </div>
    </footer>

</body>
</html>